<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="y01.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <y01.Properties.Settings>
            <setting name="starttimer1" serializeAs="String">
                <value />
            </setting>
            <setting name="starttimer2" serializeAs="String">
                <value />
            </setting>
            <setting name="starttimer3" serializeAs="String">
                <value />
            </setting>
            <setting name="stoptimer1" serializeAs="String">
                <value />
            </setting>
            <setting name="stoptimer2" serializeAs="String">
                <value />
            </setting>
            <setting name="stoptimer3" serializeAs="String">
                <value />
            </setting>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="window_name" serializeAs="String">
                <value />
            </setting>
            <setting name="starttimer4" serializeAs="String">
                <value />
            </setting>
            <setting name="stoptimer4" serializeAs="String">
                <value />
            </setting>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="counter" serializeAs="String">
                <value />
            </setting>
            <setting name="x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="acount" serializeAs="String">
                <value />
            </setting>
        </y01.Properties.Settings>
    </userSettings>
</configuration>